.list {
	$self: &;

	margin-bottom: 30px;

	&__add-button {
		opacity: 0.4;

		&:hover {
			opacity: 1;
		}
	}

	li {
		display: flex;
		align-items: center;
		padding: 10px 12px;
		cursor: pointer;
		transition: background-color 0.15s ease-in-out;

		&:hover #{$self}__remove-icon {
			opacity: 0.2;
		}

		#{$self}__remove-icon {
			opacity: 0;
			transition: opacity 0.15s ease-in-out;

			&:hover {
				opacity: 0.8;
			}
		}

		span {
			flex: 1;
			text-overflow: ellipsis;
			overflow: hidden;
			width: 160px;
			white-space: nowrap;
		}

		.badge {
			position: relative;
			left: 5px;
		}

		&:hover {
			background: rgba(255, 255, 255, 0.5);
		}

		&.active {
			background: #ffffff;
			box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.04);
			border-radius: 4px;
		}

		i {
			display: inline-flex;
			margin-right: 8px;

			img {
				opacity: 0.6;
			}
		}
	}
}
